@font-face {
  font-family: 'iconsHelen';
  src:  url('iconsHelen.eot?61pnn7');
  src:  url('iconsHelen.eot?61pnn7#iefix') format('embedded-opentype'),
    url('iconsHelen.ttf?61pnn7') format('truetype'),
    url('iconsHelen.woff?61pnn7') format('woff'),
    url('iconsHelen.svg?61pnn7#iconsHelen') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsHelen' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-with-circle:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-google:before {
  content: "\e902";
}
.icon-twitter-with-circle:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-youtube-with-circle:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e906";
}
.icon-apacherocketmq:before {
  content: "\e907";
  color: #d77310;
}
.icon-azurepipelines:before {
  content: "\e908";
  color: #2560e0;
}
.icon-curl:before {
  content: "\e909";
}
.icon-facebook1:before {
  content: "\e90a";
  color: #1877f2;
}
.icon-fedora:before {
  content: "\e90b";
  color: #294172;
}
.icon-google1:before {
  content: "\e90c";
  color: #4285f4;
}
.icon-googleplay:before {
  content: "\e90d";
  color: #607d8b;
}
.icon-instagram:before {
  content: "\e90e";
  color: #e4405f;
}
.icon-messenger:before {
  content: "\e90f";
  color: #00b2ff;
}
.icon-react:before {
  content: "\e910";
  color: #61dafb;
}
.icon-reactos:before {
  content: "\e911";
  color: #08c;
}
.icon-twitter1:before {
  content: "\e912";
  color: #1da1f2;
}
.icon-visualstudiocode:before {
  content: "\e913";
  color: #007acc;
}
.icon-youtube1:before {
  content: "\e914";
  color: #f00;
}
